.movie-item {
  position: relative;
  cursor: pointer;
  border-radius: .7rem;
  transition: all .2s ease-in;
  overflow: hidden;
  height: 30rem;
  width: 18rem;
  box-shadow: 0 .4rem .4rem rgba(#000, .25);

  @media (max-width: 575.98px) {
    height: 20rem;
    width: 10rem;
  }

  &:hover {
    box-shadow: 0 0 1rem rgba(#000, .75);
    transform: scale(1.02);
  }

  &__poster {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__wrap {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    opacity: 0;
    transition: all .2s ease;
    background-color: rgba(#000, .5);

    @media (max-width: 767.98px) {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__title {
    font-size: 1.6rem;
    letter-spacing: .05rem;
    color: #fff;
    text-shadow: 0 0 .2rem rgba(#000, 5);

    @media (max-width: 575.98px) {
      font-size: 1rem;
    }
  }

  &__year, &__rating, &__resource {
    color: #fff;
    text-shadow: 0 0 .2rem rgba(#000, 5);
    letter-spacing: .075rem;
  }

  &__rating, &__star {
    margin-right: .4rem;
  }

  &__rating-item {
    display: flex;
    align-items: center;
  }
}